@import '../node_modules//bootstrap/scss/bootstrap.scss';


.brush-font{
    font-family: 'Caveat Brush', cursive;
}

.pro-brand{
    color:#f79b12;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.bg-dark-blue{
    background-color:#000815;
}
//TEXTS
.text-grill{
    color:#ff2727 !important;
}
.text-black{
    color: black !important;
}

.bg-black{
    background-color: black !important;
}
body{
    background-color: #080808 !important;
}